<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>SearchBook</title>
</head>

<body>
	<script>
		function validation() {
			if (userForm.username.value == "") {
				userForm.username.focus();
				alert("사용자명을 입력해주세요.");
				return false;
			}
			if (userForm.password.value == "") {
				userForm.password.focus();
				alert("비밀번호를 입력해주세요.");
				return false;
			}
		}

	</script>
	회원가입
	<hr/>
	<form name="userForm" th:action="@{/registration}" method="post" onsubmit="return validation()">
		사용자명 : <input type="text" name="username" id="username" /></br>
		비밀번호 : <input type="text" name="password" id="password" />
		<br/>
		<hr/>
		<input type="submit" value="가입하기" />
	</form>

</body>

</html>